body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    /* width: 80%; */
    margin: auto;
    overflow: hidden;
}
header {
    color: #fff;
}
header p {
    padding: 0;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
/* table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
} */
.info {
    background-color: #f78da7;
    height: 30px;
    padding-left: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.info p {
    font-family: "Roboto Condensed", sans-serif;
}
.icon {
    margin-left: 10px;
    font-size: 14px;
}

.info-2 {
    background-color: rgb(250, 230, 234);
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 130px;
}
.info-2-component {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-2-component p {
    margin: 0;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
}

.info-2-icon{
    height: 30px;
    width: 30px;
}

#menu{
    height: 30px;
    padding-left: 130px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 10px;
}

#menu a {
    color: rgb(84,84,84);
}
#menu a:hover {
    color:#f78da7;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropbtn {
    background-color: none;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style cho dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: -30%;
    top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:hover {
    color: #f78da7;
}

.filter-component {
    border-radius: 5px;
    border: 2px solid #e8e8e8;
    margin-bottom: 20px;
}

.filter-component .header {
    background-color: rgb(242, 96, 147);
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}
.filter-component .filter-content {
    margin-top: 5px;
}

.filter-component .filter-content .filter-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 5px 10px;
}

.filter-component .filter-content .filter-items:hover .value{
    color: #f78da7;
}

.filter-component .filter-content .filter-items .value{
    flex:0.5;
    text-decoration: none;
    color: black;
}

.filter-component .filter-content .filter-items .quantity{
    flex:0.5;
    color: gray;
    font-size: 12px;
    text-align: right;
    padding-right: 20px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: none; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(253, 149, 171); 
    border-radius: 10px;
}

#content {
    flex:0.75;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(4, 1fr);
    /* flex-direction: row; */
    grid-template-rows: repeat(4, 1fr);
    /* background-color: red; */
    padding-left: 20px;
    gap: 15px;
}

#content .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
}

#content .product:hover {
    background-color: rgb(253,243,245);
}

#content .product .name{
    margin-top: 15px;
    text-align: center;
}
#content a {
    text-decoration: none;
}

#content .product .name a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#content .product .name a:hover{
    color: rgb(242, 96, 147);
}

#content .product .img-product{
    margin-top: 8px;
}

#content .product .img-product:hover{
    cursor: pointer;
}


#content .product .price {
    display: flex;
}

#content .product .price .old-price{
    text-decoration: line-through;
    padding: 0px;
    color: rgb(238, 149, 150);
}

#content .product .price .new-price{
    margin-left: 5px;
    font-weight: 600;
    padding: 0px;
    color: rgb(214, 0, 0)
}

#content .product .btn-buy{
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
    background-color: rgb(238, 56, 128);
    margin-bottom: 20px;
}

#content .product .btn-buy:hover{
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
    background-color: rgb(190, 45, 102);
}


#content .product .btn-buy a{
   color: white;
}

#content .img-product {
    width: 200px;
    height: 200px;
}

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    background-color: #f78da7;
    /* height: 100px; */
    padding-left: 130px;
    padding-right: 170px;
}

.address {
    padding-top: 20px;  
    padding-bottom: 20px;
}

.support {
    padding-top: 20px;  
    padding-bottom: 20px;
}

.main-list {
    padding-top: 20px;  
    padding-bottom: 20px;
}

.follow {
    padding-top: 20px;  
    padding-bottom: 20px;
}

#footer p {
    margin: 0;
    margin-bottom: 10px;
}

#footer a {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    font-size: 17px;
}

#footer a:hover {
    color: rgb(238, 56, 128);
    cursor: pointer;
}